{% extends "layout.njk" %}

{% block content %}

    <section class="container form">
        <form  method="POST" action="/products">
           
           <div class="header">
                Cadastrar Produtos
           </div>

           <div class="fields">
                {% include "products/fields.njk" %}
           </div>
           
            <button type="submit">Salvar</button>
        </form>   
    </section>



    

{% endblock content %}